.title {
    text-align: center;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.image {
    margin-left: 440px;
}

.user {
    margin-top: 50px;
    text-align: center;
}

.error-output {
    color: red;
}